<mat-card>
  <div>
    <h2>
      {{ event.summary }}
    </h2>
    <div class="info-icon">
      <mat-icon size="20">location_on</mat-icon>
      <p>
        {{ event.location }}
      </p>
    </div>
  </div>

  <div>
    <div class="info-icon">
      <mat-icon>calendar_today</mat-icon>
      <p>
        {{ event.start.dateTime | date: 'dd/MM/yyyy HH:mm' }}
      </p>
    </div>

    <div class="info-icon">
      <mat-icon>schedule</mat-icon>
      <p>
        {{
          calculateDuration(event.end.dateTime, event.start.dateTime)
            | date: 'HH:mm'
        }}
      </p>
    </div>
  </div>
</mat-card>